:root 
{
    --backgroundColor: #e2e2e2;
    --midgroundColor: #6b6b6b;
    --color: #211f1f;

    --pad: 25px;
    --transition: 1s;
}
  

[color-theme='dark'] 
{
    --backgroundColor: #171616;
    --midgroundColor: #a8a8a8;
    --color: #d3cece;
}

  
body 
{
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: var(--backgroundColor);
    color: var(--color);
    transition:all ease-in-out var(--transition);
}


.box
{
    background-color: var(--backgroundColor);
    color: var(-color);
    transition:all ease-in-out var(--transition);
}